[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/student/Desktop/exo-web-browser.desktop]
row=5
col=0

[/home/student/Desktop/Terminal.desktop]
row=6
col=0

[/home/student]
row=4
col=0

